{% extends "base.html" %}
{% block header %}
<!-- Page Header-->
        <header class="masthead">
            <div class="overlay"></div>
            <div class="container">
                <div class="row" style="max-height: 330px; margin-top: -5%;">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h3>Dashboards</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{% block content %}
        <!-- Main Content-->
        <div class="container">
            <h1>Hello you are logged in</h1> 
            <a href="{{url_for('logout')}}">Press here to logout</a>
        </div>
        <hr />
{% endblock %}